<!DOCTYPE html>
<html>
<head>
  <title>DemocraSAY!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&signed in=true&libraries=places"></script>
<script type="text/javascript">
function initialize() {
  var autocomplete = new google.maps.places.Autocomplete(document.getElementById('txtautocomplete'));
  google.maps.event.addListener(autocomplete, 'place_changed', function () {
  var places = autocomplete.getplace();
  var location = "<Location>:</b>" + places.formatted_address + "<br/>";
  location += "<b>Latitude:</b>" + places.geometry.location.A + "br/";
  location += "<b>Longitude:</b>" + places.geometry.location.F + "br/";
  document.getElementById('lblresult').inner.HTML = location
  });
};
google.maps.event.addDomListener(window, 'load', initialize);
</script>

  <style>
  body {
  background-image: url(/img/Lovely-Armandale-House.jpg);
  background-position:none;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
  }
</style>
</head>
<div class="container-fluid">
	<center><img src="/images/logo.png" alt="logo" align="center" /></center>
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					StartUp Weeked was Awsome and Valuable!!
				</h2>
				<p>
				</p>

				<p>
					<a class="btn btn-primary btn-large" href="/agree">Agree</a>
					<a class="btn btn-primary btn-large" href="/disagree">Disagree</a>
				</p>
				<h4>AGREE: <%= agreenumber%></h4>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= agree%>" aria-valuemin="0" aria-valuemax="100" style="min-width: <%= agree%>%;">
    <%= agree%>%
  </div>
</div>
<h4>DISAGREE: <%= disagreenumber%></h4>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= disagree%>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= disagree%>%;">
    <%= disagree%>%
  </div>
			</div>
		</div>
	</div>
</div>

</div>
</html>
